**/.DS_store
.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

node_modules/